1. When loging in from a device that already had a user how should the files be treated. should we copy all files from that account into the device. dose that mean that the device should have a more information about the users and whos data is it
2. what is the most efficient way to log in. when logging in should we send device id, User Id, or both?
should the search in the database for the username and password when it was send
3. How do i handle the pages after login. After login we should send the changes we made to the 
notes solve the conflicts with CRDT and receive the new updated notes, after that save the client database(probably) 
4. 


non important but nice to have
1. Password Hashing Algorithm